.modal-box{
    width: 500px;
    background-color: white;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}
.modal{
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 100vw;
    background: transparent;
    height: 100vh;
    top: 0;
    border: none;
}
.cross{
    color: white;
    background: #10147d;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.user-details input{
    width: 90%;
    padding: 8px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}
.user-details input:focus{
    border: 2px solid rgb(24, 81, 161);
}
.label{
    font-size: 1.2rem; 
}
.bottom{
    text-align: center;
}
.but{
    background: #10147d;
    color: white;
    padding: 8px 16px;
    font-size: 1.2rem;
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.but:hover{
    background: #1317a1;
}
.switch{
    color: #10147d;
}
.switch:hover{
    color: #1317a1;
    text-decoration: underline;
}