.main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  /* background-color: red; */
}
nav{
  position: sticky;
  top: 0;
}
.dp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid beige;
  margin-right: 5px;
}

.repo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.head:hover{
  text-decoration: underline;
}
.repo-name h1:hover{
    text-decoration: underline;
}
.repo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.visibility {
  background-color: lightgrey;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 1px 10px;
}

/* mid-section */

.mid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.readme {
  width: 70%;
  border: 1px solid gray;

  border-radius: 10px;
  height: 250px;
  padding: 10px;
  background-color: #eeeef6;
}
.read{
  height: 220px;
  overflow: auto;
}
.read::-webkit-scrollbar {
        display: none;
    }

.details {
  width: 30%;
  margin-left: 20px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.read:hover{
    background:  #c8c8cc;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.info {
  border: 1px solid gray;
  width: 30%;
  height: 30px;
  padding: 4px 4px;
  text-align: center;
  background-color: #eeeef6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info:hover{
    background: rgb(193, 189, 189);
}
.num {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clone {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  background-color: #eeeef6;
}
.clone a:hover {
  color: #10147d !important;
  cursor: pointer;
  text-decoration: underline;
}

.graph {
  height: 250px;
  padding-top: 20px;
  /* background-color: purple; */
}

.react-calendar-heatmap {
    height: 100%;
    width: 100%;
    /* border: 1px solid gray; */
    border-radius: 10px;
    padding-top: 10px;
    
    /* background-color: #eeeef6; */
}
.react-calendar-heatmap text {
  font-size: 8px;
  fill: #aaa;
  margin-right: 20px;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #0077b6;
}

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #0096c7;
}
.react-calendar-heatmap .color-github-2 {
  fill: #0077b6;
}
.react-calendar-heatmap .color-github-3 {
  fill: #023e8a;
}
.react-calendar-heatmap .color-github-4 {
  fill: #03045e;
}

/* commit-section */
.allcommits{
  margin-top: 10px;
}
.commit{
  border-bottom: 2px solid gray;
  display: flex;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #eeeeee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
.date h3 {
  color: #10147d;
  font-size: x-large;
}
.date h5{
  color: gray;
  font-size: large;
}
.break{
  width: 5px;
  background-color: gray;
}
.commit-detail{
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  /* background-color: plum; */
}

.committed-by{
  display: flex;
  align-items: center;
}

.committer{
  display: flex;
  align-items: center;

}